body {
    background-color: black;
    color: white;
    font-family: Consolas;
    text-align: center;
    font-size: 30px;
    
  }

  button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color:#ffffff;
    color: black;
  }

  a {
    text-decoration: none;
  }

  ul {
    text-align: center;
  }

  li {
    text-align: center;
    align-items: center;
    
  }